
<div class="table-container">
<h2>User List</h2>

<!-- Button to create user -->
<button routerLink="/create">Create New User</button>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td data-label="Username">{{ user.username }}</td>
  <td data-label="Password">{{ user.password }}</td>
  <td data-label="Actions" class="actions">
    <button (click)="editUser(user._id!)">Edit</button>
    <button class="delete" (click)="deleteUser(user._id!)">Delete</button>
  </td>
    </tr>
  </tbody>
</table></div>
